# Web Scraping con Python

### Librerías

Empezamos importando librerias a utilizar y si es el caso instalar las herramietas necesarias

In [1]:
!pip install selenium

In [2]:
! pip install webdriver-manager

In [1]:
import pandas as pd

In [2]:
from selenium import webdriver

In [3]:
from bs4 import BeautifulSoup as bs

In [4]:
import selenium
print(selenium.__version__)

4.38.0

In [5]:
from selenium.webdriver.chrome.service import Service  
from webdriver_manager.chrome import ChromeDriverManager

## Configuración

Ok, ahora configuraomos el webdriver para usar Chrome por default, localizamos el chromedriver y lo usamos en este comando

In [6]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

Despues connfiguramos las variables categoricas para segmentar los datos que queremos extraer y almacenarlos en listas

In [7]:
titulos=[]
precios=[]
stocks=[]

Y armamos  un driver.get para especificar la página  donde vamos a trabajar

In [8]:
driver.get("https:books.toscrape.com/")

In [ ]:
Una vez hecho esto se abrira una ventana con el navegador seleccionado donde abrira la pagina seleccionada.

Para lo siguiente , analizamos el codigo fuente de la pagina con 'herramientas para desarrolladores ' y localizamos las variables y categorias con las que vamos a trabajar

## Extracción de Datos

Guardamos el código HTML de la página en un objeto Contenido

In [9]:
contenido=driver.page_source #obtiene el codigo fuente de la pagina pero no lo ordena bonito

Ahora procesamos el codigo fuente de la pagina en el objeto 'contenido ' los conviertimos con BeautifulSoup

In [10]:
soup=bs(contenido) #pone bonito el codigo

In [11]:
#soup.find_all('article',attrs={'class':'product_pod'})

Ahora escribimos un for para ir agregando a nuestras listas los datos necesarios con a.find, usamos . append para ir agregando los datos a las listas

In [12]:
for libro in soup.find_all('article',attrs={'class':'product_pod'}):
    titulo=libro.find('h3')
    titulos.append(titulo.text)

    precio=libro.find('p',attrs={'class':'price_color'})
    precios.append(precio.text)

    stock=libro.find('p',attrs={'class':'instock availability'})
    stocks.append(stock.text)

Ahora observamos que hayamos usado lasvriables correctas y que se hayan extraido

In [13]:
titulos

['A Light in the ...',
 'Tipping the Velvet',
 'Soumission',
 'Sharp Objects',
 'Sapiens: A Brief History ...',
 'The Requiem Red',
 'The Dirty Little Secrets ...',
 'The Coming Woman: A ...',
 'The Boys in the ...',
 'The Black Maria',
 'Starving Hearts (Triangular Trade ...',
 "Shakespeare's Sonnets",
 'Set Me Free',
 "Scott Pilgrim's Precious Little ...",
 'Rip it Up and ...',
 'Our Band Could Be ...',
 'Olio',
 'Mesaerion: The Best Science ...',
 'Libertarianism for Beginners',
 "It's Only the Himalayas"]

limpiamos un poco los datos

In [14]:
for i in range(len(titulos)):
    titulos[i] = titulos[i].replace('\n', '').strip()
titulos

['A Light in the ...',
 'Tipping the Velvet',
 'Soumission',
 'Sharp Objects',
 'Sapiens: A Brief History ...',
 'The Requiem Red',
 'The Dirty Little Secrets ...',
 'The Coming Woman: A ...',
 'The Boys in the ...',
 'The Black Maria',
 'Starving Hearts (Triangular Trade ...',
 "Shakespeare's Sonnets",
 'Set Me Free',
 "Scott Pilgrim's Precious Little ...",
 'Rip it Up and ...',
 'Our Band Could Be ...',
 'Olio',
 'Mesaerion: The Best Science ...',
 'Libertarianism for Beginners',
 "It's Only the Himalayas"]

In [16]:
precios

['£51.77',
 '£53.74',
 '£50.10',
 '£47.82',
 '£54.23',
 '£22.65',
 '£33.34',
 '£17.93',
 '£22.60',
 '£52.15',
 '£13.99',
 '£20.66',
 '£17.46',
 '£52.29',
 '£35.02',
 '£57.25',
 '£23.88',
 '£37.59',
 '£51.33',
 '£45.17']

limpiamos los datos quitando comas

In [17]:
for i in range(len(precios)):
    precios[i] = precios[i].replace('\n', '').strip()
precios

['£51.77',
 '£53.74',
 '£50.10',
 '£47.82',
 '£54.23',
 '£22.65',
 '£33.34',
 '£17.93',
 '£22.60',
 '£52.15',
 '£13.99',
 '£20.66',
 '£17.46',
 '£52.29',
 '£35.02',
 '£57.25',
 '£23.88',
 '£37.59',
 '£51.33',
 '£45.17']

ahora revisamos como se extrayeron los datos de la variable 'stocks'

In [18]:
stocks

['\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n',
 '\n\n    \n        In stock\n    \n']

Los datos extraidos contienen caracteres no necesario ,así que los limpiaremos

In [19]:
for i in range(len(stocks)):
    stocks[i] = stocks[i].replace('\n', '').strip()
stocks

['In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock',
 'In stock']

## Almacenamiento

Guardamos loss datos en un dataframe

In [21]:
min_length = min(len(titulos), len(precios), len(stocks))
titulos_fixed = titulos[:min_length]
precios_fixed = precios[:min_length]
stocks_fixed = stocks[:min_length]
df = pd.DataFrame({
    'Título': titulos_fixed,
    'Precio': precios_fixed,
    'Cantidad': stocks_fixed
})

In [ ]:
Ahora visualizamos el dataframe

In [22]:
df.head(10)

                         Título  Precio  Cantidad
0            A Light in the ...  £51.77  In stock
1            Tipping the Velvet  £53.74  In stock
2                    Soumission  £50.10  In stock
3                 Sharp Objects  £47.82  In stock
4  Sapiens: A Brief History ...  £54.23  In stock
5               The Requiem Red  £22.65  In stock
6  The Dirty Little Secrets ...  £33.34  In stock
7       The Coming Woman: A ...  £17.93  In stock
8           The Boys in the ...  £22.60  In stock
9               The Black Maria  £52.15  In stock

Como paso final exportamos el dataframe en un documento como del tipo excel

In [22]:
df.to_csv('libros.csv',index=False ,encoding='utf-8')